* {
    padding: 0;
    margin: 0;
  }
  
main {
    margin: 5%
}
body {
    font-family: 'Lexend Deca', sans-serif;
}

p {
    font-weight: 300;
}



.logo {
    height: 40px;
    padding: 5px 20px;
    float: left;
}



header {
    width: 100%;
    height: 50px;
    background-color: #FFD22E;
}

ul {
    width: 100%;
    padding: 10px 15px;
    
}

nav li {
    display: inline;
    float: right;
    padding: 5px;
    margin-right: 25px;
}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color:#000
  }
  
  a:hover {
    text-decoration: underline;
    font-weight: 500;
  }
  
  a:active {
    text-decoration: underline;
    font-weight: 500;

  }

.heroImg {
    padding: 2%;   
}

.content {
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 40px;
}

.content img {
    float:left;
    padding: 30px;
    width: 400px

    
}
.button {
    width: 150px;
    height: 45px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid black;
    color: #000;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    }
      
      .button:hover {
        background-color: #90AD9E;
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
        color: #000000;
        transform: translateY(-6px);
      }

      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;            /* Footer height */
      }

      footer li {
        display: inline;
        float: right;
        padding: 5px;
        margin-right: 25px;
    }
